# .clang-format
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
SortIncludes: true
IncludeBlocks: Preserve
SpacesInParentheses: false
SpaceAfterCStyleCast: true
PointerAlignment: Left
DerivePointerAlignment: false
Standard: Cpp17
Language: Cpp